@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Ruda:wght@400;500;600;700;800;900&display=swap');


@layer base {
    body {
        @apply font-[Ruda];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    transform: scale(1.3);
    transition: all ease-in-out .4s;
}

.social-li {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -300px;
}

.social-li:hover {
    margin-right: -10px;
}